{% extends 'base.html' %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div style="text-align: center;">
    <h1 style="text-align: center; margin: 10px; padding: 10px;color: white; background-color: black; border: 2px solid black; border-radius: 6px;">Information</h1>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-bottom: 20px;">
      <img src="https://image.tmdb.org/t/p/w500/{{ details.poster_path }}"  />
      <h1>{{ details.original_name}}</h1> 
      <p><b>Popularity : </b>{{ details.popularity }}</p>
      <p><b>Release Date : </b>{{ details.release_date }}</p>
      <p><b>Average Vote : </b>{{ details.vote_average }}</p>
      <p style="padding: 0 30px;"> <b>"</b>{{ details.overview }} <b>"</b> </p>
    </div>

    <a href="{% url 'createreview' details.id %}" style="text-align: center ;font-size: 15px; padding: 5px;text-decoration: none; color: white; background-color: black; border: 2px solid black; border-radius: 6px;">Add Review</a>
    <h3  style="padding-top: 20px;">Reviews</h3>
    <ul class="list-group">
    {% for review in reviews %}  
      <li class="list-group-item pb-3 pt-3">
        <h5 class="card-title">
          Review by {{ review.user.username }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{ review.date }}
        </h6>
        <p class="card-text">{{ review.text }}</p>
        {% if user.is_authenticated and user == review.user %} 
        <a class="btn me-2" style="background-color: black; color: white;" 
          href="{% url 'updatereview' review.id %}">
          Update
        </a>
        <a class="btn" style="background-color: black; color: white;"
          href="{% url 'deletereview' review.id %}">
          Delete
        </a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
</div>
     
{% endblock %}