{% extends 'base.html' %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div style="text-align: center;">
    <h1 style="text-align: center; margin: 10px; padding: 10px;color: white; background-color: black; border: 2px solid black; border-radius: 6px;">Information</h1>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-bottom: 20px;">
      <img src="https://image.tmdb.org/t/p/w500/{{ details.poster_path }}"  />
      <h1>{{ details.title }}</h1> 
      <p><b>Popularity : </b>{{ details.popularity }}</p>
      <p><b>Release Date : </b>{{ details.release_date }}</p>
      <p><b>Average Vote : </b>{{ details.vote_average }}</p>
      <p style="padding: 0 30px;"> <b>"</b> {{ details.overview }} <b>"</b> </p>
    </div>
    {% if details.id %}
    <a href="{% url 'add' details.id %}" style="text-align: center ;font-size: 15px; padding: 5px;text-decoration: none; color: white; background-color: black; border: 2px solid black; border-radius: 6px;">ADD MOVIE</a>
  {% endif %}
  <h2 style="padding-top: 20px;">Reviews</h2>
  <ul class="list-group">
    {% for i in review %}  
      <li class="list-group-item pb-3 pt-3">
        <h5 class="card-title">
          Review by {{ i.user.username }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{ i.date }}
        </h6>
        <p class="card-text">{{ i.text }}</p>
      </li>
    {% endfor %}
  </ul>
</div>
     
{% endblock %}